* {
  margin: 0;
  padding: 0;
}

img {
  /* display: flex; */
  width: 200px;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  cursor: pointer;
}

.container{
  display: grid;

}

.restart-button {
  width: 60px;
  height: 16px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}